body {
    background-color: #C8DBEC;
    background-image: url('/static/images/fish.png');
    background-position: .75em .75em;
    font-size: 1.2em;
    margin: 1em;
}

#wrapper {
    background: #E9ECBC;
    display: inline-block;
    padding: 0 1em;
    border-radius: 1.5em;
    border: 3px solid #D7DB82;
}

form {
    margin: 1em 0;
}
