body {
    background-color: #C8DBEC;
    background-image: url('/static/images/fish.png');
    background-position: .75em .75em;
    font-size: 1.4em;
    margin: 1em;
    font-family: serif;
}

#wrapper {
    min-width: 30em;
    max-width: 50em;
    margin: 1em;
    padding: 1em 1em 0;
    background: #E9ECBC;
    display: inline-block;
    border-radius: 1.5em;
    border: 3px solid #D3BB36;
}

form {
    margin: 1em 0;
}
