body {
  background-color: #C8DBEC;
  background-image: url('/static/images/fish.png');
  background-position: .75em .75em;
  font-size: 1.4em;
  font-family: serif;
}

#wrapper {
  min-width: 30em;
  max-width: 50em;
  margin: 1em;
  padding: 0 1em;
  background: #F5F6DF;
  display: inline-block;
  border-radius: 1.5em;
  border: 3px solid #F0DD75;
}

form {
  margin: 1em 0;
}

input[type="text"] {
  background: #fbfbfb;
}
