body {
  background-color: #C8DBEC;
  background-image: url('/static/images/fish.png');
  background-position: .75em .75em;
  font-size: 1.4em;
  margin: 0;
  font-family: serif;
}

#top {
  background: #2D369C;
}

header {
  font-size: 1.8em;
  font-family: monospace;
  padding: 0.8em 0.5em;
  display: inline-block;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0.1em;
}

header h1 a {
  text-decoration: none;
  color: #C8DBEC;
}

header p {
  margin: 0;
}

#main {
  min-width: 30em;
  max-width: 50em;
  margin: 1em;
  padding: 1em 1em 0;
  background: #F5F6DF;
  display: inline-block;
  border-radius: 1.5em;
  border: 3px solid #F0DD75;
}

#info p {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

table, th, td {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  text-align:center;
}

th, td {
  width: 25%;
}

tr:nth-child(even) {
  background: #fbfbfb;
}

tr:nth-child(odd) {
  background: #ececec;
}

#main h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0em;
}

.description {
  font-family: monospace;
  margin: 2em 0;
}

code {
  background: #ececec;
  padding: 0.2em;
  border: 1px solid black;
}

input {
  font-family: monospace;
  border: 1px solid black;
  padding: .4em;
}

.solved {
  font-weight: bold;
}

span.solved {
  color: navy;
}

