body {
  background: #C8DBEC;
  font-size: 1.4em;
  margin: 0;
}

#top {
  background-color: #2D369C;
}

header {
  font-size: 1.8em;
  font-family: monospace;
  padding: 0.8em 0.5em;
  display: inline-block;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0.1em;
}

header h1 a {
  text-decoration: none;
  color: #C8DBEC;
}

header p {
  margin: 0;
}

#main {
  padding: 1em;
}

#info p {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

table, th, td {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  text-align:center;
}

td {
  width: 25%;
}

tr:nth-child(even) {
  background-color: #E9ECBC;
}

tr:nth-child(odd) {
  background-color: #D7DB82;
}

.highlight-text {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
}

.description {
  font-family: monospace;
  margin: 2em 0;
}

.description code {
  background: #eee;
  padding: 0.2em;
  border: 1px solid black;
}

input {
  font-family: monospace;
  border: 1px solid black;
  padding: .4em;
}

.solved {
  font-weight: bold;
}

span.solved {
  color: navy;
}

.unsolved {
}

