#container {
    border: 3px solid #000;
    background: #BCED91;
    width: 18em;
    height: 14em;
}

#click-me {
    position:relative;
    width: 32px;
    height:32px;
    font-size:32px;
    margin: 0;
    padding: 0;
}
