body {
  background: #A3C3E0;
  font-size: 1.4em;
  margin: 0;
}

header {
  color:  #A3C3E0;
  font-size: 1.8em;
  font-family: monospace;
  background-color: #2D369C;
  background-image: url("/static/creatures.png"), url("/static/creatures.png");
  background-position: top, bottom;
  background-repeat: repeat-x;
  background-origin: content-box;
  padding: 0.8em 0.5em;
}

header h1 {
  padding: 0.1em;
}

#main {
  padding: 1em;
}

#info p {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

table, th, td {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  text-align:center;
}

td {
  width: 25%;
}

tr:nth-child(even) {
  background-color: #E9ECBC;
}

tr:nth-child(odd) {
  background-color: #D7DB82;
}

.highlight-text {
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
}

.description {
  font-family: monospace;
  margin: 2em 0;
}

.description code {
  background: #ddd;
  padding: 0.2em;
}

input {
  font-family: monospace;
  border: 1px solid black;
  padding: .4em;
}

.solved {
  font-weight: bold;
}

span.solved {
  color: navy;
}

.unsolved {
}

