body {
  background: #A3C3E0;
  font-size: 1.4em;
  margin:0;
}

header {
  background: #2D369C;
  color:  #A3C3E0;
  font-size: 1.8em;
  font-family: monospace;
}

header h1 {
  margin: 0.2em 0;
  padding:0;
}

header p {
  margin: 0
}

header, #main {
  padding: 0.5em;
}

table {
    margin-left: 3em;
    font-size: 1em;
}

th {
    text-align: left;
}

td.points {
    padding-left: 1em;
    text-align: right;
}

.highlight-text {
  font-weight: bold;
  font-size: 1.2em;
}

.info-text {
  margin: 0px 0px 0px 14px;
  padding: 10px 10px 10px 10px;
}

.description {
  color: #bbbbbb;
  margin: 0px 0px 0px 14px;
  padding: 2px 0px 2px 0px;
}

input {
  background: #00aa00;
  font-family: monospace;
  color: #000000;
  border: none;
}

.solved {
  color: #00ff00;
}

.unsolved {
  color: #ff0000;
}

