<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Under The CTF{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style/scoreboard.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="top">
    <header>
      <h1><a href="/">Under The CTF</a></h1>
      <p><span class="fish">&#x1f41f;</span> <span class="octopus">&#x1f419;</span>
      <span class="tropical">&#x1f420;</span> <span class="turtle">&#x1f422;</span>
      <span class="fish">&#x1f41f;</span> <span class="octopus">&#x1f419;</span>
      <span class="tropical">&#x1f420;</span> <span class="turtle">&#x1f422;</span>
      <span class="fish">&#x1f41f;</span> <span class="octopus">&#x1f419;</span>
      <span class="tropical">&#x1f420;</span> <span class="turtle">&#x1f422;</span></p>
    </header>
    </div>

    <div id="main">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>

