<html>
  <head>
    {% block head %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <b>{% block title %} {% endblock %}</b><br><br>
    {% block content %} {% endblock %}

    <span class="footer">
      Available through <a href="https://github.com/dwyde/challenges">github.com/dwyde/challenges</a>. Art based on <a href="https://en.wikipedia.org/wiki/Apple_IIe#/media/File:Iie-system.jpg">image</a> from <a href="https://commons.wikimedia.org/wiki/User:Pratyeka">Pratyeka</a>, under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.<br>
      Apple IIe and the Apple logo are registered trademarks of Apple, Inc, and used under fair use.
    </span>
  </body>
</html>
