{% extends "challenges/base.html" %}
{% block content %}
<h1>Welcome!</h1>
<p><em>Under The CTF</em> is a set of software challenges.
<br>More information about Capture The Flag events can be found at <a href="https://en.wikipedia.org/wiki/Capture_the_flag#Computer_security">Wikipedia</a>.</p>
<p><strong>Proceed to the <a href="/challenges/">challenges</a>!</strong></p>
<p>Please do not attack the scoreboard or challenge infrastructure :-)</p>
<p>Everything you need to solve the puzzles is on this site.
<br>Note: the Python challenges all use Python 3.6.</p>
<p>The project source code is available at <a href="https://github.com/dwyde/challenges">https://github.com/dwyde/challenges</a>.
<br>Use this if you want to look behind the scenes, or to run the software locally.</p>
<p>If you're looking for something more beginner-friendly,
<br>I also wrote introductory coding exercises called <a href="https://dwyde.github.io/tricycle/tricycle/">Tricycle</a>.</p>
{% endblock %}

