{% extends "challenges/base.html" %}

{% block content %}
  <center>
      APPLE ][<br>
      <br>
      DOS VERSION 3.3  SYSTEM MASTER<br>
      <br>
      <br>
      JANUARY 1, 1983<br>
      <br>
      COPYRIGHT APPLE COMPUTER,INC. 1980,1982<br>
      <br>
      <b>BE SURE CAPS LOCK IS DOWN</b><br>
      <br>
    </center>

    <br>
    ] 10 HOME<br>
    <br>
    ] 20 PRINT "GOOD LUCK!"<br>
    <br>
    ] LIST<br>
    <br>
    10 &nbsp; HOME<br>
    20 &nbsp; PRINT "GOOD LUCK!"<br>
    <br>
    ] RUN<br>
    <br>
<pre>
 

        ██████╗   ██████╗   ██████╗  ██████╗        ██╗     ██╗   ██╗  ██████╗ ██╗  ██╗  ██╗
       ██╔════╝  ██╔═══██╗ ██╔═══██╗ ██╔══██╗       ██║     ██║   ██║ ██╔════╝ ██║ ██╔╝  ██║
       ██║  ███╗ ██║   ██║ ██║   ██║ ██║  ██║       ██║     ██║   ██║ ██║      █████╔╝   ██║
       ██║   ██║ ██║   ██║ ██║   ██║ ██║  ██║       ██║     ██║   ██║ ██║      ██╔═██╗   ╚═╝
       ╚██████╔╝ ╚██████╔╝ ╚██████╔╝ ██████╔╝       ███████╗╚██████╔╝ ╚██████╗ ██║  ██╗  ██╗
        ╚═════╝   ╚═════╝   ╚═════╝  ╚═════╝        ╚══════╝ ╚═════╝   ╚═════╝ ╚═╝  ╚═╝  ╚═╝
</pre>                                                           
                                                           
  <script>
    window.setTimeout(function() { window.location.href = "/challenges"; }, 5000);
  </script>

{% endblock %}


