{% extends "challenges/base.html" %}

{% load scoreboard %}

{% block content %}
    ] CATALOG<br>
    <br>
    &nbsp; Username: {{ user }}<br>
    &nbsp; Points : {{ points }}<br>
    <br>
    &nbsp; Challenges:<br>
    <table>
    {% for challenge in challenges %}
      <tr>
        <td><a href="{{ challenge.pk }}">{{ challenge.display_name }}</a></td>
        <td class="points">{{ challenge.points }} points</td>
        {% if challenge.pk in solved %}
          <td><span class="solved">(Solved)</span></td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
    <br>
    ]
{% endblock %}

About
