{% extends "challenges/base.html" %}

{% block title %} Scoreboard {% endblock %}

{% block content %}

{% load scoreboard %}
  <div>
    C:\> dir c:\challenges\*.exe<br>

    <br>
    &nbsp; Username: {{ user }}<br>
    &nbsp; Points : {{ points }}<br>
    <br>

    &nbsp; Challenges:
    <br><br>
    {% for challenge in challenges %}

      &nbsp;
      &nbsp;
      <a href="{{ challenge.pk }}">{{ challenge.display_name }}</a>
      {{ challenge.points }} points
      {% if challenge.pk in solved %}
        <span class="solved">(Solved)</span>
      {% endif %}
      <br>

    {% endfor %}

    <br>
    C:\>
    <br>

  </div>

{% endblock %}
