{% extends "challenges/base.html" %}

{% block title %}<p><span class="highlight-text">{{ challenge.display_name }}</span></p>{% endblock %}

{% block content %}

  Status:
    {% if solved is True %}
      <span class="solved">Solved</span>
    {% else %}
      <span class="unsolved">Not Solved</span>
    {% endif %}
    <br>

    Points: {{ challenge.points }} points<br>

    <div class="description">
      {{ challenge.description | safe }}
    </div>

    <form method="POST">
      Submit flag:
      {% if solved %}
        <input type="text" name="flag" value="Already solved" disabled>
      {% else %}
        <input type="text" name="flag" value="" autofocus>
      {% endif %}
      {% csrf_token %}
    </form>

    <p>Back to the <a href="..">scoreboard</a>.</p>

{% endblock %}
