{% extends "challenges/base.html" %}

{% load scoreboard %}

{% block title %} <span class="highlight-text">{{ challenge.display_name }}</span> {% endblock %}

{% block content %}

  Status:
    {% if solved is True %}
      <span class="solved">Solved</span>
    {% else %}
      <span class="unsolved">Not Solved</span>
    {% endif %}
    <br>

    Points: {{ challenge.points }} points<br>

    <div class="description">
      {{ challenge | ctf_describe:request | safe }}
    </div>

    <form method="POST">
      Submit flag:
      {% if solved is True %}
        <input type="text" name="flag" value="ALREADY SOLVED" disabled=True>
      {% else %}
        <input type="text" name="flag" value="flag{}" onclick="this.value=''">
      {% endif %}
      {% csrf_token %}
    </form>

  Back to the <a href="..">scoreboard</a>.
  </pre>

{% endblock %}
